body
{
  margin: 0;
}

/* header and navigation */
header
{
  background-color: #ffffff;
  overflow: hidden;
}
.headerlockup
{
clear: both;
margin: 30px 0 30px;
font-family: 'Maven Pro', sans-serif;
color: #9b9b9b;
text-transform: uppercase;
}

.logocontainer
{
display: inline-block;
font-size: 18px;
}
.logo
{
display: inline-block;
height: 32px;
width: 32px;
font-size: 15px;
text-align: center;
border-radius: 50%;
text-align: center;
background-color: #7cc576;
margin-left: 230px;
}
.fa-leaf
{
  margin-top: 8.5px;
  color:white;
}

.navcontainer
{
  float: right;
  margin-right: 230px;
  margin-top: 6px;

}
.navcontainer a
{
  margin-left: 40px;
  text-decoration: none;
  color: #9b9b9b;
  font-size: 14px;
}

  /* responsive */
@media (max-width:750px)
{

  .headerlockup
  {
  margin: 10px 0 10px;
  }

  .navcontainer {
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 100px;
    margin-top: 6px;
    text-align: center;
    }

    .navcontainer a
    {
      display: block;
      margin-left: 10px;
      font-size: 14px;
    }

  .logocontainer {
    display: block;
    max-width: 150px;
    margin: 0 auto;
  }
  .logo
  {
    margin: 0;

  }
}

/* header and navigation */


/*Hero container */
.herocontainer
{
  background-image: url("../img/background.jpg");
  height: 530px;
  width: 100%;
  position: relative;
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.herooverlay
{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 5;
}

.herotitlelockup
{
  position: relative;
  z-index: 10;
  text-align: center;
  top: 120px;
  color:white;
  max-width: 482px;
  margin: 0 auto;
}

.herotitlelockup
{
    font-family: 'Maven Pro', sans-serif;
}


.herotitlelockup .title
{
  text-transform: uppercase;
  font-size: 40px;


}
.herotitlelockup p{
  margin: 40px 0 60px;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
.herotitlelockup button{
  width: 200px;
  padding: 0;
  height: 50px;
  border-radius:50px 50px 50px 50px;
  border-width: 0;
  background-color: #7cc576;
  color:white;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Maven Pro', sans-serif;
}


/*Hero container */


/* Service container */
.servicelockup
{
  max-width: 940px;
  margin: 100px auto 100px;
  text-align: center;
}
.headingtext
{
  font-size: 40px;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;

}
p{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  margin-top: 20px;
  color: #9b9b9b;
}
.serviceheading
{
  display: block;
}
.thumbnaillockup
{
  display: flex;
  justify-content: space-between;
  margin-top: 90px;

}
.serviceheading
{
  margin-top: 20px;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-size: 20px;

}
.slogo
{
  background-repeat: no-repeat;
  width: 54px;
  margin: 0 auto;
  height: 50px;
}
.servicelogo1
{
  background-image: url("../img/icon-Heart.png");
}
.servicelogo2
{
  background-image: url("../img/icon-Graph.png");
}
.servicelogo3
{
  background-image: url("../img/icon-Mobile.png");
}
.servicepara
{
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  font-size: 14px;
  padding: 5px;
  color: #9b9b9b;
}

.service
{
width: 290px;
}

@media (max-width:750px)
{
  .thumbnaillockup
  {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
      margin-top: 20px;
  }

  .service
  {
    margin-top: 40px;
  }
}

/* Service container */


/* Let Us Section */




.gearrelexlockup
{
  position: relative;
}

.gearlockup
{
position: absolute;
left:0;
width: 428px;
background-color: gray;
height: 616px;

}

.relexchecklistlockup
{
  margin-left: 428px;
}
.gearlockup img{
  margin-top: 100px;
  margin-left: 50%;
  height: 415px;
  position: absolute;
  z-index: 5;
  width: 428px;
}
.relexchecklistlockup
{
  clear: both;
  background-image: url('../img/Background1.png');
  background-size: cover;
  background-position: center;
  height: 615px;
  position:relative;
  z-index: 10;
}
.relexoverlay
{
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    z-index: 15;
    color: white;
}

.Relexheading
{
    font-family: 'Maven Pro', sans-serif;
    font-size: 40px;
    color:white;
}

.textcontainer
{
  position: absolute;
  margin:100px 0 0 100px;
}

.and
{
  color:#7cc576;
}
.check
{
  display: block;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  margin-top: 10px;
  color: #9b9b9b;
}
.textcontainer p
{
max-width: 500px;
font-size: 16px;

}
.fa-check
{
  margin: 5px 0 0 5px;

}
.round
{
  height: 25px;
  display: inline-block;
 width: 25px;
 border-radius: 50%;
 border: 2px solid white;
 margin-right: 15px;
}

.checkboxlockup button
{
  width: 170px;
  padding: 0;
  margin-top: 50px;
  height: 50px;
  border-radius:50px 50px 50px 50px;
  border-width: 0;
  background-color: #7cc576;
  color:white;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Maven Pro', sans-serif;
}

@media (max-width:888px){
  .gearrelexlockup
  {
    display:none;
  }
  .gearlockup
  {
    display: none;
  }
  .relexchecklistlockup
  {
    margin: 0;
  }

  .textcontainer
  {
    margin: 75px auto;
    position: static;
    max-width: 500px;
    padding: 7px;
  }
  .checkboxlockup button
  {
    width: 130px;
      margin-top: 30px;
  }

}
/* Let Us Section */

/* Project section */

.projectlockup p
{
  font-size: 16px;
}
.projectlockup
{
  margin-top: 100px;

}
.headingtext
{
  max-width: 315px;
  margin: 0 auto;
}
.headingtext p{
  text-transform: none;
text-align: center;
}
.background-ipad
{
  background-image: url("../img/ipad.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  padding-bottom: 100px;
}
.frameworklockup
{
  max-width: 470px;
  margin: 90px 0 0 15.5%;

}
.frameworklockup img{
  height: 30px;
  width: 50px;
  margin-top: 10px;
}

.frameworklockup .icon-border
{
  border: 2px solid black;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  display: inline-block;
  margin-top: 20px;
}
.wrap-framework
{
  display: inline-block;
  margin:0 0 0 5%;
  line-height: 5px;
}
.wrap-framework .serviceheading
{
  font-size: 18px;
}
/* project section */
