
header
{
height: 450px;
background:url('asset/img/hero-bg.jpg');
background-position: center;
background-size: cover;
}
body
{
  margin: 0;
  padding: 0;
}

.logo
{
  margin: 10px 0px 0px 30px;
  height: 50px;
  width: 50px;
  float: left;
  margin-bottom: none;
}
nav
{
  float: right;
  margin: 30px 30px 0px 0px;
}
nav a
{
  margin-left: 20px;
  text-decoration: none;
  color:rgba(0,0,0,0.7);
  font-weight: 700;
  text-transform: uppercase;

}
nav a:hover
{
color:black;
text-decoration:none;
}
header > h1
{
  padding-top: 100px;
  color:white;
  font-size:72px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  clear: both;

}
.kicker
{
  color:white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.07em;

}
.box
{
  display: inline-block;
  padding: 0.2em 0.5em;
  border: white solid 10px;
}

/*About Section */
.about
{
  background-color: white;
  margin:100px 90px;

}

h3
{
  color:#e1c182;
  text-align: center;
}

.face-lockup
{
  max-width: 780px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}
.icon-face
{
  width:200px;
  order:3;
}

.icon-pencil
{
  order:1;
}
.icon-mouse
{
  order:2
}
.icon-browser
{
order:4
}
.icon-video
{
order:5;
}


.data{
  text-align: center;
  max-width: 620px;
  margin: 50px auto;
  font-size: 24px;
  font-weight: 300px;
  padding: 0 0 10px 10px;
}

@media screen and (max-width:700px)
{


  .face-lockup
  {
    display: block;
    text-align: center;
  }
  .face-lockup div
  {
    display: inline-block;
  }
  .face-lockup .icon-face
  {
    display: block;
    margin: 15 auto;
    text-align: center;
  }
}

/* skills */

.skill-lockup
{
  max-width: 690px;
  padding: 0 0 10px 10px;
  margin:90px auto;
  box-sizing: border-box;
}

.skill-name
{
  opacity: 0.6;
}

.progress-bar
{
  background-image:linear-gradient(to bottom,#e1c182 0,#e1c893 100%);
}

/* work */

.work
{
  background-color: #e5eaee;
  padding: 90px 90px;
}
.lockup-work
{
  max-width: 960px;
margin: 0 auto;

}

.work
{
  background-color: #e5efee;

}

.thumb-unit
{
  display: block;
  width: 25%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20%;
    position: relative;
}

@media screen and (max-width:520px) {
  .thumb-unit
  {
    width: 50%;
  }
  .thumbnail-container
  {
    max-width: 100%;
  }
  .work
  {
    padding-top: 90px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.unit1
{
    background-image: url('asset/work/proj-1/thumb.jpg');
}
.unit2
{
    background-image: url('asset/work/proj-2/thumb.jpg');
}

.unit3
{
    background-image: url('asset/work/proj-3/thumb.jpg');
}
.unit4
{
    background-image: url('asset/work/proj-4/thumb.jpg');
}
.unit5
{
    background-image: url('asset/work/proj-5/thumb.jpg');
}
.unit6
{
    background-image: url('asset/work/proj-6/thumb.jpg');
}
.unit7
{
    background-image: url('asset/work/proj-7/thumb.jpg');
}
.unit8
{
    background-image: url('asset/work/proj-8/thumb.jpg');
}



.thumbnail-container
{

  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 100px;
clear: both;
overflow: hidden;
}
.overlay
{
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  top:0;
text-align: center;
overflow: hidden;
opacity: 0;
}

.overlay strong{

  color:white;
  font-size: 1.5em;
  text-transform: uppercase;

}

.overlay:hover{
  background: #e1c182;
  padding: 5%;
  opacity: 0.9;
}

/* client testimonials */

.client_testimonials
{
  padding-top: 90px;
}
.testimonials-belt
{
  max-width: 680px;
  margin: 0 auto;
}

.testimonials_lockup
{
  max-width: 100%;
  position: relative;
}
.icon-next
{
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top:-15px;
}

.icon-back
{
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 50%;

  margin-top:-15px;

}
.writer-text
{
  max-width: 435px;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  text-align: justify;
  margin-left: 40px;
}

.icon-writer
{
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  float: left;
}

.img-writer
{
  margin: 0 auto;
}
/*client logos*/

.clients_logos
{
  padding: 50px 0 80px;
  display: flex;
align-items: center;
justify-content: space-around;
max-width: 780px;
margin: 0 auto;

}
.active-client
{
border-bottom: 5px solid #e1c182;
}

/* Social Links */

.social
{
  background-color:#e5efee;
  padding: 0px 0 0px;
}

.social-wrap
{
  max-width:660px;
  margin: 0 auto;
  padding: 100px 0 100px;
  text-align: center;
}

.link-wrap
{
  padding:45px 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.line
{
  height:5px;
  background-color:#e1c182;
  max-width:150px;
  margin:0 auto;

}

.link-wrap > a{
  text-align: center;
  text-decoration: none;
  color:white;
  font-size: 28px;
  padding-top: 11px;
  border-radius: 50%;
  border-color:
  display: block;
  height: 50px;
  width: 50px;
  background-color: #e1c182;
}

/* contact form */
.contactForm
{
  padding:50px 0 50px;

}
.formLockup
{
  max-width: 460px;
  margin: 0 auto;

}
label{
  display: block;
}
.namelock
{
  position: relative;
}
.submit
{
  display: block;
}
span{
  display: block;
}

.textLockup
{
  clear:both;
  overflow:hidden;
}
input,textarea
{
  border:2px solid #e1c182;
  width:100%;
}

.textLockup label{

  float: left;
  width: 50%;
}
.textLockup label:nth-child(1){

  padding-right:10px;

}
.textLockup label:nth-child(2){

  padding-left:10px;

}


/* Footer */



.lockup
{

  padding-top: 50px;
  height: 150px;
  background:url('asset/img/hero-bg.jpg');
  background-position: center;
  background-size: cover;
}
.logo
{
  float: left;
  margin-right: 30px;
}
.lockup .logo
{
opacity: 0.5;
}
.contant-wrap
{
  float: left;
  text-transform: uppercase;
}
.contant-wrap nav a:first-child
{
  margin-left: 0px;
}
.contant-wrap nav
{
  margin-top: 20px;
}
svg
{
  height: 50px;
  width: 50px;
}
.copyright
{
color:rgba(255, 0, 0, 0.3);
}
