body
{
  margin: 0;
  background-color:black;
}

/* header and navigation */
header
{
  background-color: #ffffff;
  overflow: hidden;
}
.headerlockup
{
clear: both;
margin: 30px 0 30px;
font-family: 'Maven Pro', sans-serif;
color: #9b9b9b;
text-transform: uppercase;
}

.logocontainer
{
display: inline-block;
font-size: 18px;
}
.logo
{
display: inline-block;
height: 32px;
width: 32px;
font-size: 15px;
background-color: green;
text-align: center;
border-radius: 50%;
text-align: center;
background-color: #7cc576;
margin-left: 230px;
}
.fa-leaf
{
  margin-top: 8.5px;
  color:white;
}

.navcontainer
{
  float: right;
  margin-right: 230px;
  margin-top: 6px;

}
.navcontainer a
{
  margin-left: 40px;
  text-decoration: none;
  color: #9b9b9b;
  font-size: 14px;
}

  /* responsive */
@media (max-width:750px)
{

  .headerlockup
  {
  margin: 10px 0 10px;
  }

  .navcontainer {
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 100px;
    margin-top: 6px;
    text-align: center;
    }

    .navcontainer a
    {
      display: block;
      margin-left: 10px;
      font-size: 14px;
    }

  .logocontainer {
    display: block;
    max-width: 150px;
    margin: 0 auto;
  }
  .logo
  {
    margin: 0;

  }
}

/* header and navigation */
